div
    article
        section
            div.text.center
                h3 Рабочий день в ДИТ...
            div.tile
                div.text.center#flex-text
                    span ожидание
                    span vs.
                    span реальность
                div#compare-image
                    v-compare-image.compare-image(
                        leftImage="right.jpg"
                        rightImage="left.jpg"
                        :sliderPositionPercentage="0.5"
                        :sliderLineWidth="4"
                        hover
                    )
        section
            div.tile#game(
                :class="{ active: launched }"
            )
                blockrain(
                    @update:score="onScore"
                    v-model="launched"
                )
            div.text.center
                h3 Результат - {{ score }}
                a.btn(:href="mailTo")
                    span Поделиться
        section
            div.text.center#congrats
                h3 Коллеги, с наступающим!
                h3 
            div.tile#happy-new-year
                img(src="~/assets/2020.png")