div
    //- h1 Принимаем #tetrischallenge!
    article
        section
            div.tile#compare-image
                v-compare-image.compare-image(
                    leftImage="/left.jpg"
                    rightImage="/right.jpg"
                    :sliderPositionPercentage="0.75"
                )
            div.tile#happy-new-year
                img(src="/2020.png")
        section
            div.tile#game
                blockrain(
                    @update:score="onScore"
                )
            