div
    article
        section
            div.text.center
                h2 Принимаем #tetrischallenge!
            div.tile#compare-image
                v-compare-image.compare-image(
                    leftImage="right.jpg"
                    rightImage="left.jpg"
                    leftLabel="ожидание"
                    rightLabel="реальность"
                    :sliderPositionPercentage="0.75"
                )
            div.tile#happy-new-year
                img(src="~/assets/2020.png")
        section
            div.tile#game
                blockrain(
                    @update:score="onScore"
                )
            div.text.center
                h3 Результат - {{ score }}
                a.btn(:href="mailTo")
                    span Поделиться
                